---
interface Props {
  texto: string;
  bg_color: string;
  text_color: string;
}

const { texto, bg_color, text_color } = Astro.props;
---

<button
  class={`px-4 py-2 ${bg_color} flex justify-center items-center gap-3 rounded-[7px] ${text_color} text-sm font-semibold hover:bg-opacity-80`}
>
  <slot />
  {texto}
</button>
