<header class="flex justify-between items-center sticky top-0 z-10 mb-6 pt-1.5">
  <nav
    id="scrollNav"
    class="flex gap-2 bg-[#e7ecf4] px-3 rounded -full bottom-0 static justify-between items-center py-1 z-20 dark:bg-[#70829b] dark:text-[#DEE4ED] bg-opacity-80 dark:bg-opacity-40 backdrop-blur-lg"
  >
    <a
      href="#top"
      class="font-semibold flex justify-center items-center px-3 py-2 transform hover:scale-95 transition duration-200 hover:font-bold"
      >Inicio</a
    >

    <a
      href="#proyectos"
      class="font-semibold flex justify-center items-center px-3 py-2 transform hover:scale-95 transition duration-200 hover:font-bold"
      >Proyectos</a
    >
    <a
      href="#contacto"
      class="font-semibold flex justify-center items-center px-3 py-2 transform hover:scale-95 transition duration-200 hover:font-bold"
      >Contacto</a
    >
  </nav>

  <div class="text-[#4B596D] dark:text-[#DEE4ED]">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="moon icon icon-tabler icon-tabler-moon-filled cursor-pointer"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12 1.992a10 10 0 1 0 9.236 13.838c.341 -.82 -.476 -1.644 -1.298 -1.31a6.5 6.5 0 0 1 -6.864 -10.787l.077 -.08c.551 -.63 .113 -1.653 -.758 -1.653h-.266l-.068 -.006l-.06 -.002z"
        stroke-width="0"
        fill="#4B596D"></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="sun icon icon-tabler icon-tabler-sun cursor-pointer"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path
        d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
      ></path></svg
    >
  </div>
</header>
